.main_body {
  margin-top: 90px;
  padding: 0 40px;
  height: 100%;
  transition: all 0.2s ease;
  .left_grid {
    // background: rgb(1, 111, 78);
  }
  .content {
  }
  .right_grid {
    // background: rgb(1, 111, 78);
  }
}

// Social and contact
@import "../SocialAndContact/social";

// firstImpression section
@import "./Impression/impression";

// About me
@import "./About_Me/about_me";

// Knowledge
@import "./Knowledge/knowledge";
