* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto:wght@100&display=swap");

// variable
$dark-navy: #020c1b;
$green: #64ffda;
$font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$lightest-slate: #ccd6f6;
$backdrop: rgba(2, 12, 27, 0.7);
$navy: #172a45;
$light-steel: #a8b2d1;
$steel: #8892b0;
$font-roboto: "Roboto", sans-serif;
$font-baloo: "Baloo Tammudu 2", cursive;

body {
  background-color: $dark-navy;
  margin: 0 40px;
  width: 100vw;
}

// Opening Logo
@import "./components/OpeningSvg/svg";

// Header
@import "./components/Header/header";

// Backdrop and sideDrawer
@import "./components/Header/BackDrop/backdrop";

// Body section
@import "./components/Body/body";
