@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
}

.logo_svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav ul li:first-child a::before, .header-nav ul li:nth-child(2) a::before, .header-nav ul li:nth-child(3) a::before, .header-nav ul li:last-child a::before {
  margin-right: 5px;
  color: #64ffda;
  font-size: 12px;
  text-align: right;
}

.active {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 80px;
  top: 0;
  -webkit-box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7) !important;
          box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7) !important;
  background-color: rgba(10, 25, 47, 0.85);
}

.header {
  -webkit-filter: none !important;
          filter: none !important;
  pointer-events: auto !important;
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 40px;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
}

.header-nav .logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000 !important;
}

.header-nav .mobile_menu-btn {
  z-index: 10000;
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .mobile_menu-btn .menu-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  z-index: 10000;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.header-nav ul li {
  margin: 0 15px;
  font-size: 13px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #a8b2d1;
  cursor: pointer;
}

.header-nav ul li a:hover {
  color: #64ffda;
}

.header-nav ul li:first-child a::before {
  content: "01" ".";
}

.header-nav ul li:nth-child(2) a::before {
  content: "02" ".";
}

.header-nav ul li:nth-child(3) a::before {
  content: "03" ".";
}

.header-nav ul li:last-child a::before {
  content: "04" ".";
}

@media (max-width: 767px) {
  .header .mobile_menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .header ul {
    display: none;
  }
}

.sideDrawer .drop .sideDrawer_ul li:first-child a::before, .sideDrawer .drop .sideDrawer_ul li:nth-child(2) a::before, .sideDrawer .drop .sideDrawer_ul li:nth-child(3) a::before, .sideDrawer .drop .sideDrawer_ul li:last-child a::before {
  margin-right: 5px;
  color: #64ffda;
  font-size: 15px;
  text-align: right;
  display: block;
  text-align: center;
}

.backdrop {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(2, 12, 27, 0.7);
}

.sideDrawer {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-left: auto;
  height: 100vh;
  top: 0;
  position: fixed;
  right: 0;
  background: #172a45;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.sideDrawer .drop {
  height: 100%;
  width: 100%;
}

.sideDrawer .drop .menu-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 20px 40px 0 auto;
}

.sideDrawer .drop .sideDrawer_ul {
  line-height: 30px;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 20px;
}

.sideDrawer .drop .sideDrawer_ul li {
  list-style: none;
}

.sideDrawer .drop .sideDrawer_ul li a {
  color: #ccd6f6;
  text-decoration: none;
}

.sideDrawer .drop .sideDrawer_ul li a:hover {
  color: #64ffda;
}

.sideDrawer .drop .sideDrawer_ul li:first-child a::before {
  content: "01" ".";
}

.sideDrawer .drop .sideDrawer_ul li:nth-child(2) a::before {
  content: "02" ".";
}

.sideDrawer .drop .sideDrawer_ul li:nth-child(3) a::before {
  content: "03" ".";
}

.sideDrawer .drop .sideDrawer_ul li:last-child a::before {
  content: "04" ".";
}

.main_body {
  margin-top: 90px;
  padding: 0 40px;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gmail_contact {
  width: 70px;
  height: 300px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 40px;
  z-index: 10;
}

.gmail_contact .inner {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.gmail_contact .inner a {
  text-decoration: none;
  padding: 10px 10px 2px 10px;
  margin: 20px auto;
  font-size: 15px;
  line-height: 1.3;
  font-family: "Baloo Tammudu 2", cursive;
  color: #a8b2d1 !important;
  letter-spacing: 0.1em;
}

.gmail_contact .inner a:hover {
  color: #64ffda !important;
}

.gmail_contact .inner div {
  display: block;
  margin: auto;
  height: 1px;
  width: 120px;
  z-index: 10;
  background-color: #a8b2d1;
}

.socials_content {
  width: 70px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: auto;
  left: 40px;
  z-index: 10;
}

.socials_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials_content ul li {
  list-style: none;
}

.socials_content ul li a {
  text-decoration: none;
}

.socials_content ul li a .icon {
  color: #a8b2d1;
}

.socials_content ul li a .icon:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  color: #64ffda;
}

.socials_content ul li .line {
  height: 1px;
  width: 150px;
  background-color: #a8b2d1 !important;
  display: block;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin-top: 70px;
}

@media (max-width: 900px) {
  .gmail_contact {
    display: none;
  }
  .socials_content {
    display: none;
  }
}

.impression {
  height: 80vh;
}

.impression .inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.impression .inner section {
  max-width: 1000px;
  padding: 100px 0px;
  margin: 0px auto;
}

.impression .inner section h1 {
  margin: 0px 0px 30px 4px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 400;
}

.impression .inner section h2 {
  margin: 0px;
  font-size: clamp(37px, 8vw, 72px);
  color: #a8b2d1;
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

.impression .inner section h3 {
  margin-top: 10px;
  color: #8892b0;
  line-height: 0.9;
  font-size: clamp(37px, 8vw, 72px);
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

.impression .inner section p {
  margin: 20px 0px 0px;
  max-width: 500px;
  line-height: 1.3;
  color: #8892b0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  word-spacing: 2px;
}

.impression .inner section div {
  line-height: 1.3;
}

.impression .inner section div a {
  z-index: 1;
  display: inline-block;
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-top: 50px;
  text-decoration-skip-ink: auto;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.impression .inner section div a:hover {
  background-color: rgba(10, 128, 97, 0.2);
}

.about_me {
  height: 60vh;
  margin-top: 70px;
}

.about_me .inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_me .inner section {
  max-width: 900px;
  padding: 100px 0px;
  margin: 0px auto;
}

.about_me .inner section .about_header {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_me .inner section .about_header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  margin: auto 20px auto 0;
  font-size: clamp(26px, 5vw, 40px);
  white-space: nowrap;
  line-height: 1.1;
  color: #ccd6f6;
}

.about_me .inner section .about_header h2::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
  bottom: 4px;
  content: "01" ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.about_me .inner section .about_header .divider {
  margin: auto auto auto 20px;
  background-color: #303c55;
  height: 2px;
  width: 200px;
}

.about_me .inner section .details .img {
  margin: auto;
  position: relative;
  height: 300px;
  width: 210px;
  border-radius: 4px;
  overflow: hidden;
}

.about_me .inner section .details .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about_me .inner section .details .img .img_overlay {
  position: absolute;
  background: #64ffdb59;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.about_me .inner section .details .img .img_overlay:hover {
  opacity: 0;
}

.about_me .inner section .details .img .img_bg {
  position: absolute;
  height: 100%;
  width: 110%;
  display: none;
  -webkit-transform: translate(10px, 40px);
          transform: translate(10px, 40px);
}

.about_me .inner section .details p {
  margin: 0px 0px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  word-spacing: 2px;
  color: #8892b0;
  font-weight: bold;
}

.about_me .inner section .details .skills_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 200px))[2];
      grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  color: #8892b0;
  font-family: "Roboto", sans-serif;
  list-style: outside none none;
  line-height: 1.6;
  font-size: 14px;
  font-weight: bold;
}

.about_me .inner section .details .skills_list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.about_me .inner section .details .skills_list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  line-height: 19px;
  color: #64ffda;
}

@media (max-width: 567px) {
  .about_me {
    margin-top: 200px;
  }
  .about_me .about_header .divider {
    width: 100px !important;
  }
}

.img_overlay:hover .img_bg {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  height: 100px;
}

.knowledge {
  height: 60vh;
  margin-top: 70px;
}

.knowledge .inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.knowledge .inner section {
  max-width: 700px;
  padding: 100px 0px;
  margin: 0px auto;
}

.knowledge .inner section .knowledge_header {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.knowledge .inner section .knowledge_header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  margin: auto 20px auto 0;
  font-size: clamp(26px, 5vw, 40px);
  white-space: nowrap;
  line-height: 1.1;
  color: #ccd6f6;
}

.knowledge .inner section .knowledge_header h2::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
  bottom: 4px;
  content: "02" ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.knowledge .inner section .knowledge_header .divider {
  margin: auto auto auto 20px;
  background-color: #303c55;
  height: 2px;
  width: 200px;
}

.knowledge .inner section .MuiSvgIcon-root {
  color: #64ffda;
}

.knowledge .inner section .MuiSvgIcon-root {
  color: #64ffda;
}

.knowledge .inner section .tab {
  font-weight: bold;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  color: #8892b0;
}

.knowledge .inner section .tab:focus {
  color: #64ffda;
}

.knowledge .inner section .tab:hover {
  background-color: #172a45;
  color: #64ffda;
}

.skills_details {
  width: 75%;
  margin: auto 20px auto 20px;
}

.skills_details p {
  color: #ccd6f6;
  margin-top: 20px;
  font-weight: bold;
}

.skills_details p span {
  color: #64ffda;
}

.skills_details p::before {
  content: "▹";
  margin-right: 5px;
  left: 0px;
  line-height: 19px;
  color: #64ffda;
}

@media (max-width: 600px) {
  .knowledge {
    margin-top: 230px;
  }
  .knowledge section .divider {
    display: none;
  }
  .knowledge section .tab {
    font-size: 12px;
  }
  .skills_details {
    max-height: 240px;
    overflow: scroll;
  }
  .skills_details p {
    font-size: 13px;
  }
}

.i_have_build {
  margin-top: 70px;
}

.i_have_build .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i_have_build .inner section {
  width: 90%;
  padding: 100px 0px;
  margin: 0px auto;
}

.i_have_build .inner section .have_built_header {
  margin: 20px auto 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.i_have_build .inner section .have_built_header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  margin: auto 20px auto 0;
  font-size: clamp(26px, 5vw, 40px);
  white-space: nowrap;
  line-height: 1.1;
  color: #ccd6f6;
}

.i_have_build .inner section .have_built_header h2::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
  bottom: 4px;
  content: "03" ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.i_have_build .inner section .have_built_header .divider {
  margin: auto auto auto 20px;
  background-color: #303c55;
  height: 2px;
  width: 200px;
}

.i_have_build .inner section .details {
  padding-top: 15px;
}

.i_have_build .inner section .details .inner_details {
  position: relative;
}

.i_have_build .inner section .details .inner_details .img_pj {
  border-radius: 4px;
  height: 300px;
  background: url(./utils/Screenshot1.png) no-repeat center/cover;
}

.i_have_build .inner section .details .inner_details .inner_details_text {
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  text-align: right;
  height: 300px;
}

.i_have_build .inner section .details .inner_details .inner_details_text p {
  margin: 10px 0px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 600;
}

.i_have_build .inner section .details .inner_details .inner_details_text h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ccd6f6;
  font-size: clamp(24px, 5vw, 28px);
  line-height: 1.1;
  margin-bottom: 10px;
}

.i_have_build .inner section .details .inner_details .inner_details_text .project_description {
  -webkit-box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
          box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  position: relative;
  z-index: 1;
  padding: 25px;
  border-radius: 4px;
  background-color: #172a45;
  font-size: 18px;
  margin: 7px 0;
}

.i_have_build .inner section .details .inner_details .inner_details_text .project_description p {
  font-family: "Source Sans Pro", sans-serif;
  color: #a8b2d1;
}

.i_have_build .inner section .details .inner_details .inner_details_text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  color: #a8b2d1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  line-height: 1.3;
}

.i_have_build .inner section .details .inner_details .inner_details_text ul .btn {
  font-weight: 600;
  font-size: 10px;
  color: #a8b2d1;
  list-style: none;
}

.i_have_build .inner section .details .inner_details .inner_details_text .proeject-links {
  margin: 10px 0;
}

.i_have_build .inner section .details .inner_details .inner_details_text .proeject-links a .icon {
  margin: 0 8px;
  font-size: 22px;
  color: #a8b2d1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.i_have_build .inner section .details .inner_details .inner_details_text .proeject-links a .icon:hover {
  color: aquamarine;
}

@media (max-width: 667px) {
  .i_have_build {
    margin-top: 200px;
  }
  .i_have_build .have_built_header .divider {
    display: none;
  }
  .i_have_build .details .inner_details .img_pj {
    height: 170px !important;
  }
  .i_have_build .details .inner_details .inner_details_text p {
    font-size: 12px !important;
  }
  .i_have_build .details .inner_details .inner_details_text h3 {
    font-size: 18px !important;
  }
  .i_have_build .details .inner_details .inner_details_text .project_description {
    padding: 17px !important;
  }
  .i_have_build .details .inner_details .inner_details_text .project_description p {
    font-size: 13px !important;
  }
  .i_have_build .details .inner_details .inner_details_text ul .btn {
    font-size: 8px !important;
  }
  .i_have_build .details .inner_details .inner_details_text .proeject-links a .icon {
    font-size: 20px !important;
  }
}

@media (max-width: 1280px) {
  .i_have_build .details .inner_details_text {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}

.noteworthy_projects {
  min-height: 60vh;
  margin-top: 70px;
}

.noteworthy_projects .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noteworthy_projects .inner section {
  max-width: 900px;
  padding: 100px 0px;
  margin: 0px auto;
}

.noteworthy_projects .inner section .noteworthy_projects_header {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.noteworthy_projects .inner section .noteworthy_projects_header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  margin: auto;
  font-size: clamp(26px, 5vw, 40px);
  white-space: nowrap;
  line-height: 1.1;
  color: #ccd6f6;
}

.noteworthy_projects .inner section .details {
  height: 100%;
}

.noteworthy_projects .inner section .details .card-grid .card {
  border-radius: 4px;
  margin: auto;
  min-height: 350px;
  background-color: #172a45 !important;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.noteworthy_projects .inner section .details .card-grid .card .card_icon:hover {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  color: #64ffda;
}

.noteworthy_projects .inner section .details .card-grid .card .card_title {
  font-size: 30px !important;
  color: #ccd6f6;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

.noteworthy_projects .inner section .details .card-grid .card .card_details {
  font-size: 16px;
  color: #8892b0;
  font-weight: bold;
}

.noteworthy_projects .inner section .details .card-grid .card .card_button {
  cursor: default;
  color: #8892b0;
  font-weight: bold;
  font-size: 10px;
}

.noteworthy_projects .inner section .seemore {
  text-align: center;
  z-index: 1;
  display: block;
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  line-height: 1;
  margin: auto;
  width: 140px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-top: 50px;
  text-decoration-skip-ink: auto;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.noteworthy_projects .inner section .seemore:hover {
  background-color: rgba(10, 128, 97, 0.2);
}

.footer {
  height: 60vh;
  margin: auto;
}

.footer .inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .inner section {
  max-width: 600px;
  padding: 100px 0px;
  margin: 0px auto;
  font-family: "Roboto", sans-serif;
}

.footer .inner section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #64ffda;
  font-size: 17px;
  font-weight: bold;
}

.footer .inner section h2::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
  content: "04" ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.footer .inner section h1 {
  text-align: center;
  font-size: clamp(40px, 5vw, 60px);
  font-weight: bold;
  color: #ccd6f6;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 20px;
}

.footer .inner section p {
  color: #8892b0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.footer .inner section div {
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .inner section div a {
  z-index: 1;
  display: inline-block;
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-top: 50px;
  text-decoration-skip-ink: auto;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer .inner section div a:hover {
  background-color: rgba(10, 128, 97, 0.2);
}
/*# sourceMappingURL=App.css.map */