%backDropLiStyle {
  margin-right: 5px;
  color: $green;
  font-size: 15px;
  text-align: right;
  display: block;
  text-align: center;
}

.backdrop {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: $backdrop;
}

.sideDrawer {
  z-index: 100;
  display: flex;
  width: 60%;
  margin-left: auto;
  height: 100vh;
  top: 0;
  position: fixed;
  right: 0;
  background: $navy;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .drop {
    height: 100%;
    width: 100%;

    .menu-btn {
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      display: block;
      margin: 20px 40px 0 auto;
    }

    .sideDrawer_ul {
      line-height: 30px;
      margin: auto;
      height: 100vh;
      display: flex;

      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-family: $font-mono;
      font-size: 20px;
      li {
        list-style: none;
        a {
          color: $lightest-slate;
          text-decoration: none;
          &:hover {
            color: $green;
          }
        }
      }
      li:first-child {
        a::before {
          @extend %backDropLiStyle;
          content: "01" ".";
        }
      }
      li:nth-child(2) {
        a::before {
          @extend %backDropLiStyle;
          content: "02" ".";
        }
      }
      li:nth-child(3) {
        a::before {
          @extend %backDropLiStyle;
          content: "03" ".";
        }
      }
      li:last-child {
        a::before {
          @extend %backDropLiStyle;
          content: "04" ".";
        }
      }
    }
  }
}
